<div class="container-fluid" ng-init="init()">
    <br>
    <div>
        <p>
            {{header.AppCount}} applications in total, accepted {{header.AcceptTotal}} applications
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered table-striped" ts-wrapper>
                        <thead>
                        <th class="col-md-4"> Project</th>
                        <th class="col-md-2"> # of Applicants</th>
                        <th class="col-md-2"> Acceptance Rate (%)</th>
                        <th class="col-md-4"> Top 3 Majors</th>

                        </thead>
                        <tr ng-repeat="report in reports | orderBy:'-AcceptPercent'">
                            <td class="col-md-4">{{report.Name}}</td>
                            <td class="col-md-2">{{report.AppCount}}</td>
                            <td class="col-md-2">{{report.AcceptPercent | percent}} </td>
                            <td class="col-md-2">{{report.Major}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-block" ng-click="goBack()"> Back</button>
    <br>
</div>