<div class="container-fluid">
    <br>
    <h3><a ui-sref="home">Home Page</a></h3>
    <div class="row">
        <form>
            <div class="form-group">
                <label for="email"> Email address </label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>

            <div class="form-group">
                <label for="password"> Email address </label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>

        </form>
    </div>

    <div class="row">
        <button class="btn btn-success btn-block" ng-click="login()">Login</button>

        <button class="btn btn-primary btn-block" ng-click="register()">Register</button>
    </div>


</div>