<div class="container-fluid" ng-init="init()">
    <h2 style="text-align: center">Main Page </h2>

    <h3><a ui-sref="home">Home Page</a></h3>
    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="title"> Title </label>
                <input type="text" ng-model="object.title" class="form-control" id="title" placeholder="Enter title">
            </div>

            <div class="form-group">
                <label for="designation"> Designation </label>
                <ui-select ng-model="object.designation" theme="bootstrap" id="designation">
                    <ui-select-match>{{$select.selected.Name}}
                    </ui-select-match>
                    <ui-select-choices repeat="designation in designations | filter: {Name: $select.search}">
                        <div ng-bind-html="designation.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>

        <div class="col col-md-6">
            <div class="form-group">
                <label for="major"> Major </label>
                <ui-select ng-model="object.major" theme="bootstrap" id="major">
                    <ui-select-match>{{$select.selected.Name}}
                    </ui-select-match>
                    <ui-select-choices repeat="major in majors| filter: $select.search">
                        <div ng-bind-html="major.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group">
                <label for="year"> Year </label>
                <ui-select ng-model="object.year" theme="bootstrap" id="year">
                    <ui-select-match>{{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="year in years| filter: $select.search">
                        <div ng-bind-html="year | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>


    </div>

    <div class="row">
        <div class="col col-md-12">
            <div class="form-group">
                <label for="category"> Categories</label>
                <ui-select multiple ng-model="object.category" theme="bootstrap" id="category">
                    <ui-select-match>{{$item.Name}}
                    </ui-select-match>
                    <ui-select-choices repeat="category in categories| filter: $select.search">
                        <div ng-bind-html="category.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-12">
            <!--<div class="btn-bar">-->
            <!--<label class="btn btn-primary " ng-model="object.radio" uib-btn-radio="'Project'">Project</label>-->
            <!--<label class="btn btn-primary " ng-model="object.radio" uib-btn-radio="'Course'">Course</label>-->
            <!--<label class="btn btn-primary" ng-model="object.radio" uib-btn-radio="'Both'">Both</label>-->
            <!--<p>{{object.radio}}</p>-->
            <!--</div>-->

            <div>
                <form>
                    <label>
                        <input type="radio" ng-model="object.radio"
                               value="Project"> Project
                    </label>

                    <label><input type="radio" ng-model="object.radio"
                                  value="Course"> Course</label>
                    <label><input type="radio" ng-model="object.radio"
                                  value="Both"> Both</label>
                </form>
            </div>
            <br><br>
            <button class="btn btn-block btn-success" ng-click="applyFilters()">Apply Filter</button>
            <button class="btn btn-block btn-warning">Reset Filter</button>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered table-striped" ts-wrapper>
                        <thead>
                        <th class="col-md-10"> Name</th>
                        <th class="col-md-2"> Type</th>

                        </thead>
                        <tr ng-repeat="project in projects | orderBy:'Name'">
                            <td class="col-md-10">
                                <a ui-sref="project({data: project})">{{project.Name}}</a>
                            </td>
                            <td class="col-md-2">{{project.Type}}</td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>