<div class="container-fluid" title="Me" ng-init="init()">
    <br>

    <div align="center">
        <h1><u>My Applications</u></h1>
        <h3><a ui-sref="home">Home</a></h3>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered table-striped" ts-wrapper>
                        <thead>
                        <th class="col-md-2"> Date</th>
                        <th class="col-md-8"> Project Name</th>
                        <th class="col-md-2"> Status</th>

                        </thead>
                        <tr ng-repeat="app in apps | orderBy:'Date'">
                            <td class="col-md-2">{{app.Date}}</td>
                            <td class="col-md-8">{{app.Project_name}}</td>
                            <td class="col-md-2">{{app.Status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
